@keyframes appearAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

nav {
  background: linear-gradient(to top right, #ff9900 0%, #ffdd5e 100%);
  display: flex;
  align-items: center;
  font-family: 'Paytone One', sans-serif;
}

nav h1 span {
  letter-spacing: 0.5rem;
}

nav h1 {
  text-shadow: -2px -2px 1px #ffdd5e;
  color: #ff6600;
}

nav form {
  display: flex;
}

nav .forMobile {
  display: flex;
}
nav input,
nav button {
  margin-left: 3%;
}

nav .favoritesButton {
  margin-left: 300px;
}

nav input,
nav input:active {
  border: none;
  outline: none;
  background-color: rgba(242, 242, 242, 0.3);
}

button,
nav button {
  display: inline;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-image: linear-gradient(to top right, #ff9900 0%, #ffdd5e 100%);
  padding: 10px;
  border: none;
  width: 150px;
  transition: 5s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 0;
  text-shadow: 0;
  cursor: pointer;
}

nav button:hover {
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  top: -10px;
  left: 0;
  transform: rotate(5deg);
  box-shadow: 1px 1px 1px #222;
}

.scroll {
  overflow-y: scroll;
  height: 300px;
}

.beerContainer .beer span .text-bold {
  color: red;
}
.beersContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  border: 1px solid black;
  height: 600px;
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
  animation: appearAnim 0.5s;
}

.beer {
  /*border: 1px solid #222; */
  margin: 10px;
  padding: 10px;
  display: flex;
  width: 300px;
  height: 250px;
  overflow: none;
  /* box-shadow: 2px 2px 2px #222; */
  transition: 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
  top: 0;
  left: 0;
  background: white;
  font-size: 0.85rem;
  animation: appearAnim 0.5s;
}

.favoriteBeer {
  /*border: 1px solid #222; */
  margin: 10px;
  padding: 10px;
  display: flex;
  flex: 1;
  overflow: none;
  /* box-shadow: 2px 2px 2px #222; */
  transition: 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
  top: 0;
  left: 0;
  background: white;
  font-size: 0.85rem;
  animation: appearAnim 0.5s;
}

.favoriteBeer img {
  max-height: 320px;
  max-width: 220px;
}

.favoriteBeer ul {
  list-style-type: none;
}

.favoriteBeer .scroll {
  overflow-y: scroll;
  flex: 1;
}
.beerContainer {
  border: 1px solid #222;
  margin: 10px;
  width: 400px;
  height: 350px;
  display: flex;
  justify-content: center;
  background: white;
  position: relative;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  box-shadow: 2px 2px 2px #222;
  animation: appearAnim 0.5s;
}

.beerContainer:hover {
  transition: 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: skew(1.1);
  transform: rotate(10deg);
  top: -30px;
  left: 0;
  box-shadow: 5px 5px 5px #444;
}

.favoriteBeerContainer {
  border: 1px solid #222;
  margin: 10px;
  display: flex;
  justify-content: center;
  max-width: 400px;
  max-height: 400px;
  background: white;
  position: relative;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  box-shadow: 2px 2px 2px #222;
  animation: appearAnim 0.5s;
  padding: 20px;
}

.favoriteBeerContainer:hover {
  transition: 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: skew(1.1);
  transform: rotate(10deg);
  top: -30px;
  left: 0;
  box-shadow: 5px 5px 5px #444;
}

.favoriteBeer {
  flex: 1;
}

.favoriteBeer .fa-times {
  position: absolute;
  top: -20px;
  left: 380px;
  font-size: 1.5rem;
  color: #ff0000;
  cursor: pointer;
  transition: 1s;
}

.beer img {
  max-width: 200px;
  max-height: 220px;
}

.beer ul {
  list-style-type: none;
  margin-right: 30px;
}

.beer .fa-star {
  position: absolute;
  top: 15px;
  left: 280px;
  font-size: 1.5rem;
  color: #ffdd5e;
  cursor: pointer;
  transition: 1s;
}

.beer .fa-star:hover {
  color: #ffee6f;
  transition: 1s;
}

.modalWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appearAnim 0.5s;
}

.modalWrapper .fa-star {
  position: absolute;
  top: -30px;
  left: 300px;
  font-size: 1.5rem;
  color: #ffdd5e;
  cursor: pointer;
  transition: 1s;
}

.modalWrapper .fa-star:hover {
  color: #ffee6f;
  transition: 1s;
}

.modalWrapper .beer img {
  max-width: 200px;
  max-height: 220px;
}

.modalWrapper .scroll {
  height: 220px;
}

.modalCard {
  position: relative;
  background: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  overflow-y: none;
  min-width: 350px;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  animation: appearAnim 0.5s both;
}

.closeButton {
  position: absolute;
  top: -50px;
  right: -50px;
}

.modalBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.5;
}

.mobileFavoriteButton {
  display: none;
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
  nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  nav form {
    display: flex;
    flex-direction: column;
  }
  nav form .forMobile {
    display: flex;
    margin-top: 10px;
  }
  nav button {
    flex: 1;
    margin-bottom: 10px;
  }

  nav form input {
    height: 30px;
  }

  nav .favoritesButton {
    display: none;
  }
  nav .favoritesButton:hover {
    display: none;
  }

  .mobileFavoriteButton {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }

  .mobileFavoriteButton .favoritesButton {
    width: 270px;
  }
  .favoriteBeerContainer {
    flex: none;
    width: 300px;
    height: 300px;
    margin: 15px;
  }
  .favoriteBeer {
    /*border: 1px solid #222; */
    margin: 10px;
    padding: 10px;
    display: flex;
    flex: none;
    max-width: 300px;
    overflow: none;
    /* box-shadow: 2px 2px 2px #222; */
    transition: 3s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
    top: 0;
    left: 0;
    background: white;
    font-size: 0.85rem;
    animation: appearAnim 0.5s;
  }
  .favoriteBeer .fa-times {
    position: absolute;
    top: -20px;
    left: 95%;
    font-size: 1.5rem;
    color: #ff0000;
    cursor: pointer;
    transition: 1s;
  }

  .modalWrapper .closeButton {
    position: absolute;
    top: -50px;
    right: 3%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  nav {
    justify-content: center;
  }
  nav input,
  nav button {
    margin-left: none;
  }
  nav .favoritesButton {
    margin-left: 80px;
  }
  nav .forMobile {
    margin: none;
  }

  .favoriteBeerContainer {
    flex: none;
    width: 300px;
    height: 300px;
    margin: 15px;
  }

  .favoriteBeer .fa-times {
    position: absolute;
    top: -20px;
    left: 95%;
    font-size: 1.5rem;
    color: #ff0000;
    cursor: pointer;
    transition: 1s;
  }
}
